/*@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;430&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@431;500&family=Jost:wght@400;430&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.container {
  width: 100%;
}

.body_analytics {
  background-image: url("../images/perfil-bg13.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header ul {
  /*font-family: 'Prompt', sans-serif; 
  font-family: 'Jost', sans-serif;*/
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(57, 65, 55);
  font-size: 22px;
  height: 60px;
  text-transform: uppercase;
}
  
header li {
  float: right;
}
  
header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
header li a:hover {
  background-color: rgb(61, 82, 61);
}

header ul a img {
    margin-top: 4px;
    margin-top: 7px;
    width: 42px;
    float: left;
    margin-left: 36px;;
}

h1 {
  margin-left: 50px;
  margin-top: 20px;
}

#botao_logout_analytics {
  margin-top: 20px;
  background-color: rgb(107, 29, 9);
  cursor: pointer;
  padding: 5px;
  width: 8%;
  float: right;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  height: 40px;
  margin-right: 50px;
  text-transform: uppercase;
}

.graph {
  background-color: #eaeaeaa9;
  display: inline-block;
  width: 40%;
  height: 240px;
  margin: 32px;
  padding: 10px;
  border-radius: 3px;
}

.div_graficos {
  background-color: #7b808aa9;
  width: 90%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}
