/*@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;430&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@431;500&family=Jost:wght@400;430&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

/* Início da página Home */

.container {
  width: 100%;
  margin: 0;
}

header ul {
  /*font-family: 'Prompt', sans-serif; 
  font-family: 'Jost', sans-serif;*/
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(57, 65, 55);
  font-size: 22px;
  height: 60px;
  text-transform: uppercase;
}
  
header li {
  float: right;
}
  
header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
header li a:hover {
  background-color: rgb(61, 82, 61);
}

header ul a img {
  margin-top: 4px;
  margin-top: 7px;
  width: 42px;
  float: left;
  margin-left: 36px;
}

.index_body {
  background-image: url("../images/travel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.div_index {
  margin:auto;
  width: 58%;
  height: 430px;
}

.div_index p {
  text-align: center;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  /* width: 100%;
  height: 430px; */
}

.div_index #home_boas_vindas {
  margin-top: 200px;
}

.div_index #home_texto {
  margin-top: 30px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(133, 129, 129, 0.432);
}

.footer {
  text-align: center;
  padding: 12px;
  padding-right: 20px;
  background-color: rgb(57, 65, 55);
  color: white;
  font-size: 19px;
  height: 30px; 
  bottom:0;
  position: fixed;
  width:100%;
}

.footer a {
  color: white;
}


.footer a:hover {
  background-color: rgb(61, 82, 61);
}

/* Fim da página Home */

/* Início página de Login */

.login_body {
  background-image: url("../images/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.div_login {
  width: 100%;
  height: 430px;
  margin-bottom: 115px;
}

.login {
  background-color: rgba(43, 59, 43, 0.623);
  width: 35%;
  margin: auto;
  height: 430px;
  margin-top: 100px; 
  border-radius: 8px;
}

.login h1 {
  text-align: center;
  padding: 30px;
  font-size: 40px;
  color: white
}

.login label {
  color: whitesmoke;
  font-size: 22px;
}

.login label, .login input {
  display: block;
  width: 90%;
  margin-left: 5%;
}

.login input {
  margin-bottom: 30px;
  height: 35px;
  border: solid 1px #dbd7d7;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.login button {
  cursor: pointer;
  background-color: rgb(43, 59, 43);
  padding: 5px;
  width: 20%;
  margin-left: 40%;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  height: 40px;
}

.login a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  float: right;
}

/* Fim página de Login */

/* Início página de Cadastro */

.cadastro_body {
  background-image: url("../images/cadastro-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.div_cadastro {
  width: 100%;
  height: 840px;
}

.cadastro {
  background-color: rgba(43, 59, 43, 0.623);
  width: 35%;
  margin: auto;
  height: 800px;
  margin-top: 70px; 
  border-radius: 8px;
  color: white;
}

.cadastro h1 {
  text-align: center;
  padding: 30px;
  font-size: 40px;
}

.cadastro label, .cadastro input {
  display: block;
  width: 80%;
  font-size: 22px;
  margin: 10px;
  margin-left: 9%;
}

.cadastro input {
  margin-bottom: 28px;
  height: 32px;
  border: solid 1px #dbd7d7;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.cadastro button { 
  cursor: pointer;
  background-color: rgb(43, 59, 43);
  padding: 5px;
  width: 20%;
  margin-left: 40%;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  height: 40px;
}
.cadastro a {
  margin-top: 26px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  float: right;
}

.div_cadastro div {
  margin-left: 10%;
  float: left;
}

.div_cadastro fieldset {
  width: 85%;
  margin: auto;
  margin-bottom: 15px;
}

.div_cadastro fieldset legend {
  font: 15px;
}

.div_cadastro fieldset input {
  height: 18px;
  margin: 0;
}

/* Fim página de Cadastro */

/* Início página de Perfil */

.perfil_body {
  background-image: url("../images/perfil-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.div_perfil {
  width: 100%;
  height: 700px;
}

#botao_logoff {
  background-color: rgb(107, 29, 9);
  cursor: pointer;
  padding: 5px;
  width: 8%;
  float: right;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  height: 40px;
  margin-right: 50px;
  text-transform: uppercase;
}

.perfil_body h1{
  margin-top: 20px;
}

.perfil_body h1, .perfil_body h2 {
  margin-left: 25px;
}

.destinosVisitados h3, .destinosDesejados h3 {
  padding-bottom: 30px;
  font-size: 30px;
}

.destinosVisitados, .destinosDesejados {
  float:left;
  width: 44%;
  font-size: 22px;
  background-color: rgba(43, 59, 43, 0.623);
  border-radius: 8px;
  color: white;
  margin: 6px;
  padding: 30px;
}

.div_perfil button {
  cursor: pointer;
  background-color: rgb(43, 59, 43);
  padding: 1px;
  width: 30px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  text-align: center;
  height: 30px;
}

.div_perfil input {
  height: 19px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

#contador_destinosVisitados, #contador_destinosDesejados {
  float: left;
}

#selo_destinoVisitado, #selo_destinoDesejado {
  width: 45px;
  margin-left: 15px;
}

/* Fim página de Perfil */

/* Início página Sobre */

.sobre_body {
  background-image: url("../images/sobre-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.sobre_body h1, .div_sobre{
  margin-top: 20px;
  margin-left: 25px;
}

.div_sobre {
  width: 80%;
  height: 1000px;
  float: left;
}

.div_sobre p {
  font-size: 22px;
  width: 70%;
  float: left;
  margin-left: 25px;
  text-align: justify;
}

#foto_sobre {
  width: 15vw;
  float: left;
}

/* Fim página Sobre */

/* Início página Explore */

.explore_body {
  background-image: url("../images/sobre-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.div_explore {
  width: 100%;
  height: 430px;
  margin-bottom: 115px;
}

.explore_pesquisa {
  background-color: rgba(43, 59, 43, 0.623);
  width: 55%;
  margin: auto;
  height: 350px;
  margin-top: 100px; 
  border-radius: 8px;
}


.explore_pesquisa h1 {
  text-align: center;
  padding: 30px;
  font-size: 40px;
  color: white
}

.explore_pesquisa label {
  color: whitesmoke;
  font-size: 22px;
  padding: 10px;
  text-align: center;
}

.explore_pesquisa label, .explore_pesquisa input {
  display: block;
  width: 60%;
  margin: auto;
}

.explore_pesquisa input {
  margin-bottom: 30px;
  height: 35px;
  border: solid 1px #dbd7d7;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.explore_pesquisa button {
  cursor: pointer;
  background-color: rgb(43, 59, 43);
  padding: 5px;
  width: 20%;
  margin-left: 40%;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  height: 40px;
}

#resultado_pesquisa {

  background-color: rgba(43, 59, 43, 0.623);
  width: 50%;
  margin: auto;
  height: 50px;
  padding: 30px; 
  border-radius: 8px;
  margin-top: 20px;
  font-size: 22px;
  text-align: center;
}

#resultado_pesquisa a, p {
  color: white;
}

#resultado_pesquisa a {
  text-transform: uppercase;
}

/* Fim página Explore */

/* Início página Praga (Roteiro) */

.praga_body {
  background-image: url("../images/praga.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* 
.div_conteudo {
  width: 100%;
  height: 430px;
  margin-bottom: 115px;
} */

.div_conteudo {
  width: 89%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(36, 43, 59, 0.589);
  padding: 20px;
}

.div_conteudo h1 {
  color: white;
  margin-top: 15px;
}

.div_conteudo p {
  color: white;
  font-size: 22px;
}

.imgs_praga {
  width: 19.5%;
  border-radius: 5px;
}

.div_conteudo iframe {
  border-radius: 5px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

div .imgs_refs_praga {
  width: 17.5%;
  border-radius: 5px;
  margin: 5px;
}

.div_conteudo div {
  margin-left: 30%;
}

